.contact {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
}

.contact h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
    color: #2C3E50;
}

.contact h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #1ABC9C;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #008080;
    outline: none;
}

.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1ABC9C;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #16A085;
}

@media screen and (max-width: 768px) {
    .contact {
        max-width: 90%;
    }

}
