.gallery {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: #2C3E50;
    text-align: center;
}

.gallery h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
    color: #2C3E50;
}

.gallery h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #1ABC9C;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-section {
    margin-bottom: 40px;
    text-align: left;
}

.gallery-section h3 {
    font-size: 2em;
    margin-bottom: 20px;
    position: relative;
    color: #2C3E50;
}

.image-list, .video-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-around;
    gap: 20px;
}

.image-item, .video-item {
    background-color: #ECF0F1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.image-item img, .video-item video {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-image {
    max-width: 100%;
    max-height: 80vh;
}

@media (max-width: 768px) {
    .image-item, .video-item {
        flex: 1 1 100%;
    }
}
