.projects {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.projects h2 {
    font-size: 2.5em;
    color: #2C3E50;
    margin-bottom: 40px;
    position: relative;
}

.projects h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #1ABC9C;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #ddd;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.project-item:hover .project-image img {
    transform: scale(1.05);
}

.project-info {
    padding: 20px;
    text-align: left;
}

.project-info h3 {
    font-size: 1.5em;
    color: #2C3E50;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1em;
    color: #7F8C8D;
    margin-bottom: 20px;
}

.project-info a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1ABC9C;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.project-info a:hover {
    background-color: #16A085;
}
